.p1{
    background-color: cadetblue;
    padding: 20px;
    color: black;
    font-size: 1.5em;
}

.p2{
    @extend .p1;
    font-size: 3em;
    margin: 30px;
    color: navy;
}

.p3{
    @extend .p1;
    font-size: 5em;
}


